<% @article.flag += 1; %>
<% @article.update(flag: @article.flag) %>
<div class= "form">
<h2>You have successfully flagged the article</h2>

<p>This article has been flagged <%= @article.flag %> times</p>

<%= link_to 'back', articles_path %>
</div>