<div class = "form_about">
    <h2>About</h2>
    <p>Mumblr was created to allow people to spread their dislike of bad programming languages. 
    Especially, the forsaken programming language, Ruby</p>
</div>